h2 {
    margin: 0px 0 10px;
    font-size: 39.81px;
    font-weight: 600;
}

.subtitle {
    font-size: 19.2px;
}

/********************************* Tableau *********************************/

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

::ng-deep .p-datatable {
    border-radius: 6px;
    width: 80vw;
}

.thead {
    font-weight: 600;
    margin-right: 7px;
}

th:first-child {
    border-top-left-radius: 6px;
}

th:last-child {
    border-top-right-radius: 6px;
}

tr:hover {
    background-color: rgb(236, 236, 236);
}


.icon-div {
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}

::ng-deep .p-paginator {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}