<h2>Modification de données</h2>
<p class="subtitle">Cette page est dédiée à la modification des données des compétitions, des tireurs, ou des clubs
    de tir sportif.</p>
<div class="table-container">
    <p-table [value]="shooters" dataKey="id" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex align-items-center">
                        <span class="thead">Nom</span>
                        <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        <span class="thead">Prénom</span>
                        <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        <span class="thead">Compétition</span>
                        <p-columnFilter type="text" field="competitionName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        <span class="thead">Club</span>
                        <p-columnFilter type="text" field="clubName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        <span class="thead">Catégorie</span>
                        <p-columnFilter type="text" field="categoryName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width: 5rem"></th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shooter>
            <tr>
                <td>{{ shooter.lastName }}</td>
                <td>{{ shooter.firstName }}</td>
                <td>{{ shooter.competitionName }}</td>
                <td>{{ shooter.clubName }}</td>
                <td>{{ shooter.categoryName }}</td>
                <td><i class="fa-solid fa-pen-to-square icon-div"></i></td>
                <td><i class="fa-solid fa-trash-can icon-div" (click)="confirmDeletion($event)"></i></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Aucune donnée trouvée.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog></p-confirmDialog>