h1 {
    margin: 0px 0 10px;
}

/********************************* Tableau *********************************/

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

::ng-deep .p-datatable {
    min-width: 100%;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 6px;
}

th:first-child {
    border-top-left-radius: 6px;
}

th:last-child {
    border-top-right-radius: 6px;
}

tr:hover {
    background-color: rgb(236, 236, 236);
}

.icon-div {
    font-size: 15px;
}

::ng-deep .p-paginator {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}