<div class="opacity-0 animate-appear duration-500">
	<div class="bg-white dark:bg-secondary-dark-bg shadow-lg rounded-lg m-6">
		<div class="bg-gradient-to-r from-prime-blue to-hover-prime-blue text-white px-8 py-6 rounded-t-lg">
			<div class="flex items-center space-x-3">
				<iconify-icon icon="lucide:user-round" class="text-[2rem] mr-5"></iconify-icon>
				<div>
					<h1 class="text-2xl font-bold">Modification d'un tireur</h1>
					<p class="text-blue-100 mt-1">Modifiez les données des tireurs créés précédemment</p>
				</div>
			</div>
		</div>
		<div class="min-w-[525px] mx-auto shadow-lg">
			<p-table [value]="shooters" dataKey="id" [paginator]="true" [rows]="nbRowsPerPage">
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="lastName" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Nom</span>
								<p-sortIcon field="lastName" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="lastName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="firstName" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Prénom</span>
								<p-sortIcon field="firstName" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="firstName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="clubName" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Club</span>
								<p-sortIcon field="clubName" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="clubName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="competitionName" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Compétition</span>
								<p-sortIcon field="competitionName" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="competitionName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="distance" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Distance</span>
								<p-sortIcon field="distance" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="distance" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="weapon" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Arme</span>
								<p-sortIcon field="weapon" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="arme" display="menu" class="ml-1" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="categoryName" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Catégorie</span>
								<p-sortIcon field="categoryName" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="categoryName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th pSortableColumn="totalScore" class="!bg-gray-100 hover:dark:!bg-gray-700 hover:!bg-gray-200">
							<div class="flex items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2 whitespace-nowrap">Score total</span>
								<p-sortIcon field="totalScore" class="ml-1 mt-[5px] dark:text-gray-400" />
								<p-columnFilter type="text" field="categoryName" display="menu" class="ml-1"></p-columnFilter>
							</div>
						</th>
						<th class="!bg-gray-100"></th>
						<th class="!bg-gray-100 min-w-[100px]"></th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-shooter>
					<tr>
						<td class="!py-4 whitespace-nowrap">{{ shooter.lastName }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.firstName }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.clubName }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.competitionName }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.distance }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.weapon }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.categoryName }}</td>
						<td class="!py-4 whitespace-nowrap">{{ shooter.totalScore }}</td>
						<td class="relative !py-4">
							<div
								class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-1.5 pb-0 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer"
								(click)="displayModifFormModal()"
							>
								<iconify-icon icon="lucide:pen-line" class="text-[1.2rem]"></iconify-icon>
							</div>
						</td>
						<td class="relative !py-4">
							<div
								class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-1.5 pb-0 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer"
								(click)="confirmDeletion($event)"
							>
								<iconify-icon icon="formkit:trash" class="text-[1.2rem]"></iconify-icon>
							</div>
						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="9">Aucune donnée trouvée.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>

<!-- Div affichée lors d'un click sur icon de modification, afin d'afficher le nouveau formulaire -->
<dialog id="displayModifFormModal" class="dui-modal">
	<div class="dui-modal-box w-fit max-w-5xl text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg"></div>
	<form method="dialog" class="dui-modal-backdrop">
		<button class="outline-none border-none bg-transparent"></button>
	</form>
</dialog>
