<h2>Consultation de données</h2>
<p class="subtitle">Cette page est dédiée à la consultation des données. Vous y trouverez des informations et
    des graphiques.</p>
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers" id="connected_state">30</div>
            <div class="cardName">Participation moyenne</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-users"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">25</div>
            <div class="cardName">Participation maximale</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-user-plus"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">15</div>
            <div class="cardName">Participation minimale</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-user-minus"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">16</div>
            <div class="cardName">Compétitions organisées</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-ranking-star"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">16</div>
            <div class="cardName">Clubs ayant participé</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-people-roof"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">16</div>
            <div class="cardName">Score maximal 6 séries</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-medal"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">16</div>
            <div class="cardName">Score maximal 4 séries</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-medal"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">16</div>
            <div class="cardName">Score minimal</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-face-frown"></i>
        </div>
    </div>
</div>
<div class="chart-div line-chart">
    <div class="chart-div-header">
        <h3>Nombre de participants</h3>
        <p class="subtitle">Sur l'historique des compétitions</p>
    </div>
    <p-chart type="line" [data]="nbreParticipants" [options]="optionsNbreParticipants"></p-chart>
</div>
<div class="chart-div pie-chart right-chart">
    <div class="chart-div-header">
        <h3>Meilleur club</h3>
        <p class="subtitle">Par nombre de tireur premier sur sa catégorie</p>
    </div>
    <p-chart type="pie" [data]="clubsTirSportif" [options]="optionClubsTirSportif"></p-chart>
</div>
<div class="second-line-charts">
    <div class="chart-div pie-chart">
        <div class="chart-div-header">
            <h3>Meilleur club</h3>
            <p class="subtitle">Par nombre de tireur premier sur sa catégorie</p>
        </div>
        <p-chart type="pie" [data]="clubsTirSportif" [options]="optionClubsTirSportif"></p-chart>
    </div>
    <div class="chart-div line-chart right-chart">
        <div class="chart-div-header">
            <h3>Score moyen par série</h3>
            <p class="subtitle">Sur l'ensemble des catégories</p>
        </div>
        <p-chart type="line" [data]="resultatsSeries" [options]="optionsResultatsSeries"></p-chart>
    </div>
</div>