@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$background: #f9fafb;
$primary: #3B82F6;
$primary2: #0062ff;
$black1: #303030;
$black2: #868686;

h2 {
    margin-bottom: 6px;
    font-size: 39.81px;
    font-weight: 600;
    color: $primary;
}

.subtitle {
    font-size: 18.5px;
}

/****************************************** Cardbox *******************************************/

.cardBox {
    width: 100%;
    padding: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 25px;
}

.cardBox .card {
    background: $background;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transition: 0.3s ease;
}

.cardBox .card:hover {
    background: $primary;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    color: $primary;
    font-weight: 600;
    transition: 0.3s ease;
}

.cardBox .card .cardName {
    font-size: 1.1em;
    color: $black2;
    margin-top: 5px;
    transition: 0.3s ease;
}

.cardBox .card .iconBx {
    font-size: 3em;
    color: $primary;
    transition: 0.3s ease;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: $background !important;
}

/****************************************** Chart *******************************************/

.chart-div {
    width: 30%;
    background: $background;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    border-radius: 20px;
    margin-top: 15px;
}

.chart-div-header {
    margin-bottom: 15px;
}

.chart-div-header h3 {
    font-size: 33.18px;
    color: $primary;
    font-weight: 600;
}

.chart-div-header .subtitle {
    font-size: 17px;
    color: $black2;
}