<div class="opacity-0 animate-appear duration-500">
	<div class="bg-white dark:bg-secondary-dark-bg shadow-lg rounded-lg m-6">
		<div class="bg-gradient-to-r from-prime-blue to-hover-prime-blue text-white px-8 py-6 rounded-t-lg">
			<div class="flex items-center space-x-3">
				<iconify-icon icon="octicon:trophy-24" class="text-[2rem] mr-5"></iconify-icon>
				<div>
					<h1 class="text-2xl font-bold">{{ isEditMode ? "Modification d'une compétition" : "Création d'une compétition" }}</h1>
					<p class="text-blue-100 mt-1">
						{{ isEditMode ? "Mettez à jour les détails de cette compétition" : "Renseignez les détails de la nouvelle compétition" }}
					</p>
				</div>
			</div>
		</div>

		<form (ngSubmit)="submitCompetition()" class="p-8 space-y-10">
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Informations de la compétition
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<div class="flex flex-col space-y-1">
						<label for="competitionName" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Nom de la compétition *</label>
						<input
							type="text"
							#inputField
							pInputText
							[(ngModel)]="competitionName"
							id="competitionName"
							placeholder="Nom de la compétition"
							name="competitionName"
						/>
					</div>

					<div class="flex flex-col space-y-1">
						<label for="competitionDate" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">
							Dates de la compétition *
						</label>
						<div class="relative">
							<p-datepicker
								#inputField
								[firstDayOfWeek]="1"
								[(ngModel)]="competitionDate"
								[showIcon]="true"
								placeholder="Dates de la compétition"
								dateFormat="dd/mm/yy"
								selectionMode="range"
								name="competitionDate"
								id="competitionDate"
							></p-datepicker>
						</div>
					</div>
				</div>
			</div>

			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Configuration des prix
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
					<div class="flex flex-col space-y-1">
						<label for="prixInscription" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Prix d'inscription *</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								#inputField
								[(ngModel)]="prixInscription"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Prix d'inscription"
								mode="currency"
								currency="EUR"
								name="prixInscription"
								id="prixInscription"
							></p-inputNumber>
						</div>
					</div>

					<div class="flex flex-col space-y-1">
						<label for="prixCategSup" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">
							Prix de catégorie supplémentaire *
						</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								#inputField
								[(ngModel)]="prixCategSup"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Prix de catégorie supplémentaire"
								mode="currency"
								currency="EUR"
								name="prixCategSup"
								id="prixCategSup"
							></p-inputNumber>
						</div>
					</div>
				</div>
			</div>

			<!-- Information Notes -->
			<div class="pt-6 border-t border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-400">
				<div class="flex items-center text-sm">
					<iconify-icon icon="lucide:info" class="text-[1rem] mr-2"></iconify-icon>
					<p>Les champs marqués d'un astérisque (*) sont obligatoires.</p>
				</div>
				<div class="flex items-center text-sm">
					<iconify-icon icon="lucide:info" class="text-[1rem] mr-2"></iconify-icon>
					<p>
						Dans le champ "Dates de la compétition", sélectionnez jusqu'à 2 dates pour la date de début et la date de fin de compétition.
					</p>
				</div>
				<div class="flex justify-end">
					<button
						class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
						type="submit"
						[disabled]="isSaving"
					>
						<iconify-icon icon="material-symbols-light:save-rounded" class="text-[1.5rem] mr-3"></iconify-icon>
						Enregistrer la compétition
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
