<div class="opacity-0 animate-appear duration-500">
	<div class="bg-white dark:bg-secondary-dark-bg shadow-lg rounded-lg m-6">
		<div class="bg-gradient-to-r from-prime-blue to-hover-prime-blue text-white px-8 py-6 rounded-t-lg">
			<div class="flex items-center space-x-3">
				<iconify-icon icon="lucide:user-round" class="text-[2rem] mr-5"></iconify-icon>
				<div>
					<h1 class="text-2xl font-bold">Création d'un nouveau tireur</h1>
					<p class="text-blue-100 mt-1">Renseignez les informations du nouveau tireur ainsi que ses performances dans la compétition</p>
				</div>
			</div>
		</div>

		<div class="p-8 space-y-10">
			<!-- Informations personelles -->
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Informations personnelles
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Nom *</label>
						<input type="text" pInputText [(ngModel)]="shooterLastName" placeholder="Nom du tireur" />
					</div>

					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Prénom *</label>
						<input type="text" pInputText [(ngModel)]="shooterFirstName" placeholder="Prénom du tireur" />
					</div>

					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Adresse Email</label>
						<input type="text" pInputText [(ngModel)]="shooterEmail" placeholder="Adresse Email" />
					</div>
				</div>
			</div>

			<!-- Club et Competition -->
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Affiliation et compétition
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Club *</label>
						<p-autoComplete
							[(ngModel)]="shooterClubName"
							[forceSelection]="true"
							[suggestions]="filteredClubs"
							(completeMethod)="filterClub($event)"
							field="name"
							[dropdown]="true"
							placeholder="Club du tireur"
						></p-autoComplete>
					</div>

					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Compétition *</label>
						<p-autoComplete
							[(ngModel)]="shooterCompetitionName"
							[forceSelection]="true"
							[suggestions]="filteredCompetitions"
							(completeMethod)="filterCompetition($event)"
							field="name"
							[dropdown]="true"
							placeholder="Compétition du tireur"
						></p-autoComplete>
					</div>
				</div>
			</div>

			<!-- Equipment Configuration -->
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Catégorie du tireur dans la compétition
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
					<div class="flex flex-col space-y-1" >
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Distance de tir *</label>
						<p-autoComplete
							[(ngModel)]="shooterDistance"
							[forceSelection]="true"
							[suggestions]="filteredDistances"
							(completeMethod)="filterDistance($event)"
							field="name"
							[dropdown]="true"
							placeholder="Distance de tir du tireur"
						></p-autoComplete>
					</div>

					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Type d'arme *</label>
						<p-autoComplete
							[(ngModel)]="shooterWeapon"
							[forceSelection]="true"
							[suggestions]="filteredWeapons"
							(completeMethod)="filterWeapon($event)"
							field="name"
							[dropdown]="true"
							placeholder="Type d'arme utilisé"
						></p-autoComplete>
					</div>

					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Catégorie *</label>
						<p-autoComplete
							[(ngModel)]="shooterCategory"
							[forceSelection]="true"
							[suggestions]="filteredCategories"
							(completeMethod)="filterCategory($event)"
							(ngModelChange)="checkIfSeniorOrDame($event)"
							field="name"
							[dropdown]="true"
							placeholder="Catégorie du tireur"
						></p-autoComplete>
					</div>
				</div>
			</div>

			<!-- Series Scores -->
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Résultats des séries
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
					<div>
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 1</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								[(ngModel)]="scoreSerie1"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[max]="100.1"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Score série 1"
							></p-inputNumber>
						</div>
					</div>
					<div>
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 2</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								[(ngModel)]="scoreSerie2"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[max]="100.1"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Score série 2"
							></p-inputNumber>
						</div>
					</div>
					<div>
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 3</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								[(ngModel)]="scoreSerie3"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[max]="100.1"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Score série 3"
							></p-inputNumber>
						</div>
					</div>
					<div>
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 4</label>
						<div class="flex items-center space-x-2">
							<p-inputNumber
								[(ngModel)]="scoreSerie4"
								mode="decimal"
								[minFractionDigits]="2"
								[min]="0"
								[max]="100.1"
								[showButtons]="true"
								[maxFractionDigits]="2"
								placeholder="Score série 4"
							></p-inputNumber>
						</div>
					</div>
					@if (this.isSeniorOrDameCategory){
					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 5</label>
						<p-inputNumber
							[(ngModel)]="scoreSerie5"
							mode="decimal"
							[minFractionDigits]="2"
							[min]="0"
							[max]="100.1"
							[showButtons]="true"
							[maxFractionDigits]="2"
							placeholder="Score série 5"
						></p-inputNumber>
					</div>
					<div class="flex flex-col space-y-1">
						<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Score série 6</label>
						<p-inputNumber
							[(ngModel)]="scoreSerie6"
							mode="decimal"
							[minFractionDigits]="2"
							[min]="0"
							[max]="100.1"
							[showButtons]="true"
							[maxFractionDigits]="2"
							placeholder="Score série 6"
						></p-inputNumber>
					</div>
					}
				</div>
			</div>

			<!-- Information Notes -->
			<div class="pt-6 border-t border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-400">
				<div class="flex items-center text-sm">
					<iconify-icon icon="lucide:info" class="text-[1rem] mr-2"></iconify-icon>
					<p>Les champs marqués d'un astérisque (*) sont obligatoires.</p>
				</div>
				<div class="flex items-start space-x-2 text-sm">
					<iconify-icon icon="lucide:info" class="text-[1rem] mr-2"></iconify-icon>
					<p>
						Les résultats des séries peuvent être laissés à zéro et renseignés ultérieurement dans l'onglet "
						<span
							(click)="commonService.redirectTo('modification_shooter')"
							class="font-medium text-prime-blue cursor-pointer hover:underline"
						>
							Modification des tireurs
						</span>
						".
					</p>
				</div>
				<div class="flex justify-end">
					<div
						class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
					>
						<iconify-icon icon="material-symbols-light:save-rounded" class="text-[1.5rem] mr-4"></iconify-icon>
						Enregistrer le tireur
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
