$background: #f9fafb;
$primary: #3B82F6;
$primary2: #0062ff;
$black: #303030;
$sidebar_size: 250px;
$sidebar_size_collapsed: 85px;

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/****************************************** Side Bar *******************************************/

/* Styles de base pour la sidebar */
.sidebar {
    position: fixed;
    width: $sidebar_size;
    height: 100%;
    background: linear-gradient(to bottom, $primary, $primary2);
    overflow: hidden;
    transition: width 0.5s ease;
}

.sidebar:not(:first-child) {
    overflow: hidden !important;
}

.sidebar-collapsed {
    width: 85px;
}

.sidebar-collapsed-text {
    padding: 0 32px !important;
    transition: 0.5s ease;
}

/* Style spécifique pour le premier élément (titre de l'application et logo) */
.applicationName {
    margin-bottom: 30px;
    pointer-events: none;
    font-weight: 600;
    margin-left: -10px;
    font-size: 19.2px !important;
}

/* Styles pour les éléments de la liste */
.sidebar ul {
    padding-left: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Styles communs pour les liens et les hover */
.sidebar ul li a {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: $background;
}

.sidebar ul li a .icon,
.sidebar ul li a .title {
    display: block;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .icon {
    margin-left: 25px;
    font-size: 1.09em;
    width: 17px;
}

.sidebar ul li a .title {
    padding: 0 25px;
    height: 60px;
    white-space: nowrap;
    text-align: start;
    font-size: 1em;
}

/* Styles pour le hover sur les éléments de la liste */
.sidebar ul li:not(:first-child):hover {
    background: $background;
}

.sidebar ul li:not(:first-child):hover a {
    color: $primary;
}

/* Style pour les éléments avec la classe active */
.active,
.sidebar ul li a .icon .active {
    color: $primary !important;
    background: $background;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Styles pour les pseudo-éléments sur hover, à l'exception du premier élément <li> */
.sidebar ul li:not(:first-child):hover a::before,
.sidebar ul li:not(:first-child):hover a::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $background;
    pointer-events: none;
}

/* Styles pour les pseudo-éléments sur les éléments actifs */
.active::before,
.active::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $background;
    pointer-events: none;
}

.sidebar ul li:not(:first-child):hover a::after,
.active::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px $background;
}

.sidebar ul li:hover a::before,
.active::before {
    top: -50px;
}

/****************************************** Sidebar Collapse Button *******************************************/

.sidebar-button {
    position: fixed;
    top: 15px;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    background: $background;
    transition: 0.5s ease;
    color: $primary;
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sidebar-button:hover {
    background-color: $primary;
    color: $background;
    border-color: $background;
}

.rotate-icon {
    transform: rotate(-180deg);
    padding-top: 1px;
    transition: transform 0.3s ease-in-out;
}

.rotate-icon-back {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

/****************************************** Sidebar Footer *******************************************/

.sidebar-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Style pour l'icône de l'utilisateur */
.sidebar-footer .user-icon {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: $background;
    color: $primary;
    font-size: 1.8em;
}

/* Style pour les informations de l'utilisateur */
.sidebar-footer .user-info {
    margin-left: 10px;
}

.sidebar-footer .user-info .user-name {
    font-weight: 600;
    color: $background;
    width: 190px;
}

.sidebar-footer .user-info a {
    display: block;
    color: $background;
    text-decoration: none;
    margin-top: 3px;
}

.sidebar-footer .user-info a:hover {
    text-decoration: underline;
}

/****************************************** Page *******************************************/

.content {
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: $background;
    height: 100%;
    min-height: 100vh;
    margin-left: $sidebar_size;
    transition: margin-left 0.5s ease;
    color: $black;
    overflow: hidden;
}

.page-content {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.blob {
    opacity: 0.9;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 400px;
    height: 370px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22%3E%3Cstop offset=%220%25%22 stop-color=%22%233B82F6%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%230062ff%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M831.5 642.5Q664 785 501 783T170 640.5Q2 500 133 296t337-152.5q206 51.5 367.5 204t-6 295Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M831.5 642.5Q664 785 501 783T170 640.5Q2 500 133 296t337-152.5q206 51.5 367.5 204t-6 295Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.content-expanded {
    margin-left: $sidebar_size_collapsed;
}