<div class="relative px-8 py-6 rounded-t-lg border-b border-white dark:border-gray-600 transition-colors duration-500 overflow-hidden">
	<div class="absolute inset-0 bg-gradient-to-r from-prime-blue to-hover-prime-blue dark:opacity-0 transition-opacity duration-500"></div>
	
	<div class="relative z-10 flex items-center space-x-3">
		<iconify-icon [icon]="icon" class="text-[2.5rem] mr-5 text-white dark:text-prime-blue transition-colors duration-500"></iconify-icon>
		<div>
			<h1 class="text-2xl font-bold text-white dark:text-gray-100 transition-colors duration-500">{{ title }}</h1>
			<p class="text-blue-100 dark:text-gray-400 mt-1 transition-colors duration-500">{{ subtitle }}</p>
		</div>
	</div>
</div>
