<div class="bg-gradient-to-r from-prime-blue to-hover-prime-blue dark:from-transparent dark:to-transparent dark:bg-transparent text-white dark:text-gray-100 px-8 py-6 rounded-t-lg dark:border-b dark:border-gray-600">
	<div class="flex items-center space-x-3">
		<iconify-icon [icon]="icon" class="text-[2.5rem] mr-5 text-white dark:text-prime-blue"></iconify-icon>
		<div>
			<h1 class="text-2xl font-bold">{{ title }}</h1>
			<p class="text-blue-100 dark:text-gray-400 mt-1">{{ subtitle }}</p>
		</div>
	</div>
</div>
