<h3 class="text-4xl font-bold md:text-5xl text-prime-blue dark:text-gray-300 animate-appear opacity-0 transition-colors duration-500 m-0">
	Création de données
</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-0 text-left animate-appear opacity-0 transition-colors duration-500">
	Créez ici vos compétitions, les tireurs ainsi que leur club de tir sportif.
</p>

<!-- Formulaire du club -->
<div class="flex items-center mt-[60px] text-prime-blue dark:text-gray-300 animate-appear opacity-0 animation-delay-200 duration-500">
	<iconify-icon icon="fa6-solid:people-roof" class="text-[1.5rem]"></iconify-icon>
	<h3 class="font-bold text-[2rem] ml-4">Création d'un nouveau club</h3>
</div>

<div class="mx-auto mt-[30px] w-1/2 min-w-[750px] bg-white dark:bg-secondary-dark-bg p-[30px] shadow-lg rounded-[20px] opacity-0 animate-appear animation-delay-200 duration-500">
	<div class="flex flex-wrap mb-[15px]">
		<div class="w-1/2 px-[15px] mb-[15px]">
			<label class="block uppercase text-xs font-bold mb-[5px] text-gray-800 dark:text-gray-300">Nom du club</label>
			<input type="text" pInputText [(ngModel)]="clubName" placeholder="Nom du club" />
		</div>
	</div>

	<div class="flex justify-center items-center">
		<div
			class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
		>
			<iconify-icon icon="material-symbols-light:save-rounded" class="text-[1.5rem] mr-4"></iconify-icon>
			Enregistrer
		</div>
	</div>
</div>
