<div class="opacity-0 animate-appear duration-500">
	<div class="bg-white dark:bg-secondary-dark-bg shadow-lg rounded-lg m-6">
		<app-section-header
			[title]="isEditMode ? 'Modification d\'un club de tir' : 'Création d\'un club de tir'"
			[subtitle]="isEditMode ? 'Mettez à jour les détails de ce club' : 'Renseignez les informations du nouveau club'"
			[icon]="icons.CLUB">
		</app-section-header>

		<form (ngSubmit)="submitClub()" class="p-8 space-y-10">
			<div class="space-y-4">
				<app-section-subtitle>Informations du club</app-section-subtitle>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<div class="flex flex-col space-y-1">
						<label for="clubName" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Nom du club *</label>
						<input type="text" #inputField pInputText [(ngModel)]="clubName" id="clubName" placeholder="Nom du club" name="clubName" />
					</div>
					<div class="flex flex-col space-y-1">
						<label for="clubCity" class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Ville du club *</label>
						<input type="text" #inputField pInputText [(ngModel)]="clubCity" id="clubCity" placeholder="Ville du club" name="clubCity" />
					</div>
				</div>
			</div>

			<!-- Information Notes -->
			<div class="pt-6 border-t border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-400">
				<app-info-note>Les champs marqués d'un astérisque (*) sont obligatoires.</app-info-note>
				<div class="flex justify-end">
					<app-button type="submit" [icon]="icons.CHECK" iconPosition="left" [disabled]="isSaving">
						Enregistrer le club
					</app-button>
				</div>
			</div>
		</form>
	</div>
</div>
