$background: #fff;
$primary: #3B82F6;
$primary2: #0062ff;
$black1: #222;
$black2: #999;

/****************************************** Side Bar *******************************************/

/* Styles de base pour la sidebar */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: $primary;
    border-left: 10px solid $primary;
    overflow: hidden;
    transition: 0.5s;
}

/* Styles pour les éléments de la liste */
.sidebar ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Style spécifique pour le premier élément (titre de l'application et logo) */
.applicationName {
    margin-bottom: 30px;
    pointer-events: none;
    font-weight: bolder;
    font-size: 1.2em;
    margin-left: -10px;
}

/* Styles communs pour les liens et les hover */
.sidebar ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: $background;
}

.sidebar ul li a .icon,
.sidebar ul li a .title {
    display: block;
    line-height: 60px;
    text-align: center;
    font-size: 1.09em;
}

.sidebar ul li a .icon {
    margin-left: 25px;
}

.sidebar ul li a .title {
    padding: 0 25px;
    height: 60px;
    white-space: nowrap;
    text-align: start;
}

/* Styles pour le hover sur les éléments de la liste */
.sidebar ul li:not(:first-child):hover {
    background: $background;
}

.sidebar ul li:not(:first-child):hover a {
    color: $primary;
}

/* Style pour les éléments avec la classe active */
.active,
.sidebar ul li a .icon .active {
    color: $primary !important;
    background: $background;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Styles pour les pseudo-éléments sur hover et active */
/* Styles pour les pseudo-éléments sur hover, à l'exception du premier élément <li> */
.sidebar ul li:not(:first-child):hover a::before,
.sidebar ul li:not(:first-child):hover a::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $background;
    pointer-events: none;
}

/* Styles pour les pseudo-éléments sur les éléments actifs */
.active::before,
.active::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $background;
    pointer-events: none;
}


.sidebar ul li:not(:first-child):hover a::after,
.active::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px $background;
}

.sidebar ul li:hover a::before,
.active::before {
    top: -50px;
}

/* Style pour le footer de la sidebar */
.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 20px;
}

/* Style pour l'icône de l'utilisateur */
.sidebar-footer .user-icon {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: $background;
    color: $primary;
    font-size: 1.8em;
}

/* Style pour les informations de l'utilisateur */
.sidebar-footer .user-info {
    margin-left: 10px;
}

.sidebar-footer .user-info .user-name {
    font-weight: bold;
    color: $background;
}

.sidebar-footer .user-info a {
    display: block;
    color: $background;
    text-decoration: none;
    margin-top: 3px;
}

.sidebar-footer .user-info a:hover {
    text-decoration: underline;
}

/****************************************** Page *******************************************/