$background: #f9fafb;
$primary: #3B82F6;
$primary2: #0062ff;
$black1: #303030;

.header {
    margin-left: 2%;
}

h2 {
    margin: 0px 0 10px;
    font-size: 39.81px;
    font-weight: 600;
    color: $primary;
}

.subtitle {
    font-size: 18.5px;
}

.circle-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    background-color: $primary;
    color: $background;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-icon {
    font-size: 75px;
}

.circle-container p {
    margin-top: 10px;
}