<div class="header">
    <h2>Création de données</h2>
    <p class="subtitle">Cette page est dédiée à la création de données, tel que des compétitions, des tireurs, ou un
        club de tir sportif.</p>
</div>
<div class="circle-group">
    <div class="circle-container">
        <div class="circle">
            <i class="fa-solid fa-ranking-star circle-icon"></i>
        </div>
        <p>Une compétition</p>
    </div>
    <div class="circle-container">
        <div class="circle">
            <i class="fa-solid fa-user circle-icon"></i>
        </div>
        <p>Un tireur</p>
    </div>
    <div class="circle-container">
        <div class="circle">
            <i class="fa-solid fa-people-roof circle-icon"></i>
        </div>
        <p>Un club</p>
    </div>
</div>