<div class="opacity-0 animate-appear duration-500">
	<div class="bg-white dark:bg-secondary-dark-bg shadow-lg rounded-lg m-6">
		<div class="bg-gradient-to-r from-prime-blue to-hover-prime-blue text-white px-8 py-6 rounded-t-lg">
			<div class="flex items-center space-x-3">
				<iconify-icon icon="streamline:screen-1-remix" class="text-[1.8rem] mr-5"></iconify-icon>
				<div>
					<h1 class="text-2xl font-bold">Affichage du classement d'une compétition</h1>
					<p class="text-blue-100 mt-1">Lancez l'affichage du classement en direct d'une compétition en cours</p>
				</div>
			</div>
		</div>

		<div class="p-8 space-y-10">
			<div class="space-y-4">
				<h2 class="text-lg font-semibold text-gray-900 pb-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-300">
					Affichage d'une compétition
				</h2>
				<div class="flex flex-col space-y-1">
					<label class="text-sm font-medium text-gray-700 dark:text-gray-300 ml-1">Compétition</label>
					<p-autoComplete
						[(ngModel)]="shooterCompetitionName"
						[forceSelection]="true"
						[suggestions]="filteredCompetitions"
						(completeMethod)="filterCompetition($event)"
						field="name"
						[dropdown]="true"
						placeholder="Compétition à afficher"
					></p-autoComplete>
				</div>
			</div>

			<!-- Information Notes -->
			<div class="pt-6 border-t border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-400">
				<div class="flex items-center text-sm">
					<iconify-icon icon="lucide:info" class="text-[1rem] mr-2"></iconify-icon>
					<p>L’activation ouvrira une nouvelle page permettant d'afficher en plein écran le classement à vos compétiteurs.</p>
				</div>
				<div class="flex justify-end">
					<div
						class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
					>
						<iconify-icon icon="heroicons:play" class="text-[1.5rem] mr-3"></iconify-icon>
						Lancer l'affichage
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
