<h3 class="text-4xl font-bold md:text-5xl text-prime-blue dark:text-gray-300 animate-appear opacity-0 transition-colors duration-500 m-0">
	Affichage des données
</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-0 text-left animate-appear opacity-0 transition-colors duration-500">
	Gérez l'affichage des résultats et du classement de votre compétition en cours.
</p>

<!-- Affichage compétition -->
<div class="flex items-center mt-[60px] text-prime-blue dark:text-gray-300 opacity-0 animate-appear animation-delay-100 duration-500">
	<iconify-icon icon="fa6-solid:person-rifle" class="text-[1.5rem]"></iconify-icon>
	<h3 class="font-bold text-[2rem] ml-4">Affichage d'une compétition</h3>
</div>

<div
	class="mx-auto mt-[30px] w-1/2 min-w-[750px] bg-white dark:bg-secondary-dark-bg p-[30px] shadow-lg rounded-[20px] opacity-0 animate-appear animation-delay-100 duration-500"
>
	<div class="flex flex-wrap mb-[15px]">
		<div class="w-1/2 px-[15px] mb-[15px]">
			<label class="block uppercase text-xs font-bold mb-[5px] text-gray-800 dark:text-gray-300">Compétition</label>
			<p-autoComplete
				[(ngModel)]="shooterCompetitionName"
				[forceSelection]="true"
				[suggestions]="filteredCompetitions"
				(completeMethod)="filterCompetition($event)"
				field="name"
				[dropdown]="true"
				placeholder="Sélectionnez une compétition"
			></p-autoComplete>
		</div>
	</div>
	<div class="flex justify-center items-center">
		<div
			class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
		>
			<iconify-icon icon="streamline:screen-1-solid" class="text-[1.1rem] mr-4"></iconify-icon>
			Lancer l'affichage
		</div>
	</div>
</div>
 
<!-- Génération de PDF -->
<div class="flex items-center mt-[60px] text-prime-blue dark:text-gray-300 opacity-0 animate-appear animation-delay-100 duration-500">
	<iconify-icon icon="bxs:file-pdf" class="text-[2rem]"></iconify-icon>
	<h3 class="font-bold text-[2rem] ml-4">Génération de rapport PDF</h3>
</div>

<div
	class="mx-auto mt-[30px] w-1/2 min-w-[750px] bg-white dark:bg-secondary-dark-bg p-[30px] shadow-lg rounded-[20px] opacity-0 animate-appear animation-delay-100 duration-500"
>
	<div class="flex flex-wrap mb-[15px]">
		<div class="w-1/2 px-[15px] mb-[15px]">
			<label class="block uppercase text-xs font-bold mb-[5px] text-gray-800 dark:text-gray-300">Compétition</label>
			<p-autoComplete
				[(ngModel)]="shooterCompetitionName"
				[forceSelection]="true"
				[suggestions]="filteredCompetitions"
				(completeMethod)="filterCompetition($event)"
				field="name"
				[dropdown]="true"
				placeholder="Sélectionnez une compétition"
			></p-autoComplete>
		</div>
	</div>
	<div class="flex justify-center items-center">
		<div
			class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
		>
			<iconify-icon icon="fa-solid:download" class="text-[1rem] mr-4"></iconify-icon>
			Télécharger le rapport
		</div>
	</div>
</div>