<div class="h-full flex flex-col items-center justify-center relative text-center">
	<!-- Bloc logo + titre -->
	<div class="flex items-center gap-6 mb-5">
		<!-- Logo -->
		<img src="../../../assets/img/logo.svg" alt="Logo" class="h-35 w-35 animate-appear" />

		<!-- Titre -->
		<div class="text-left">
			<h3 class="text-5xl font-bold md:text-7xl text-prime-blue dark:text-gray-300 animate-appear opacity-0 transition-colors duration-500">
				Aim
				<br />
				Display
			</h3>
		</div>
	</div>

	<!-- Sous-titre en dessous -->
	<p class="text-gray-500 dark:text-gray-400 text-xl max-w-xl animate-appear opacity-0 transition-colors duration-500 animation-delay-100 pb-15">
		Entrez, stockez et affichez vos données de compétition de tir de manière simple et efficace !
	</p>

	<!-- Footer -->
	<footer class="text-gray-800 dark:text-gray-300 absolute bottom-[15px] left-1/2 transform -translate-x-1/2 w-full text-center">
		© 2025 par Aim Display. Tous droits réservés.
	</footer>
</div>
