<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 relative text-center">
    <div>
        <h1 class="text-[55px] font-semibold text-blue-500 tracking-wide">Aim Display</h1>
        <p class="text-[18.5px] mt-2">Entrez, stockez et affichez vos données de compétition de tir de manière simple et efficace !</p>
    </div>
    <footer class="absolute bottom-[15px] left-1/2 transform -translate-x-1/2 w-full text-center">© 2023 par Aim Display. Tous droits réservés.</footer>
</div>
