<h2>Paramètres</h2>
<p class="subtitle">Ajustez ici les paramètres de l'application selon vos préférences.</p>
<div class="settings-container">
    <h3 class="settings-container-title">Préférences</h3>
    Dark mode
    Langue
    Couleur primaire
</div>
<div class="settings-container">
    <h3 class="settings-container-title">Gestion du compte</h3>
    Photo
    nom d'utilisateur
    localisation du club : code postal , ville
    Changement de mot de passe, déconnexion
</div>
<div class="settings-container">
    <h3 class="settings-container-title">Gestion des abonnements</h3>
    Affichage des différentes offres
    Offre actuelle : acheter, modifier, annuler
    Historique des transactions
</div>
<div class="settings-container">
    <h3 class="settings-container-title">Nous contacter</h3>
    formulaire de contact
    discord
    documentation
    faq
</div>