<h3 class="text-4xl font-bold md:text-5xl text-prime-blue dark:text-gray-300 animate-appear opacity-0 transition-colors duration-500 m-0">
	Paramètres
</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-0 text-left animate-appear opacity-0 transition-colors duration-500">
	Ajustez les paramètres selon vos préférences.
</p>
<div class="flex">
	<div class="w-1/2 min-w-[400px] mr-6">
		<div
			class="mx-auto mt-10 p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-50 transition-colors duration-500"
		>
			<h4
				class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider transition-colors duration-500"
			>
				Global
			</h4>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">
					Activer le mode sombre
				</div>
				<p-inputSwitch [(ngModel)]="darkMode" (onChange)="toggleDarkMode()"></p-inputSwitch>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">
					Thème
				</div>
				<p-inputSwitch [(ngModel)]="darkMode" (onChange)="toggleDarkMode()"></p-inputSwitch>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">
					Langue
				</div>
				<p-inputSwitch [(ngModel)]="darkMode" (onChange)="toggleDarkMode()"></p-inputSwitch>
			</div>
			<!-- <div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Activer les particules</div>
				<p-inputSwitch [(ngModel)]="showParticules" (onChange)="toggleShowParticules()"></p-inputSwitch>
			</div> -->
		</div>
		<div
			class="mx-auto mt-10 p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150 transition-colors duration-500"
		>
			<h4
				class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider transition-colors duration-500"
			>
				Compte
			</h4>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="flex items-center w-full my-1.5">
					<div
						class="relative w-24 h-24 rounded-full hover:cursor-pointer overflow-hidden group transition-all duration-300"
						(click)="avatarInput.click()"
					>
						<!-- @if (authService.getUserAvatar()) {
						<img [src]="authService.getUserAvatar()" class="w-full h-full object-cover transition-all duration-300" />
						} @else { -->
						<img
							src="https://imgs.search.brave.com/6Abd5TBbHIoBHK1py-tGSUv7eRH_hf3KVb5Px1DBNMs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA4LzIzLzkxLzU1/LzM2MF9GXzgyMzkx/NTUzM19PalFLUGtD/TTNzaGRxRmdwWjVz/d01LV3U1cHhnMzls/VS5qcGc"
							class="w-full h-full object-cover transition-all duration-300"
						/>
						<!-- } -->
						<input type="file" #avatarInput class="hidden" />
						<!-- <input type="file" #avatarInput (change)="onChangeAvatar($event)" class="hidden" /> -->
						<div
							class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-0 group-hover:bg-opacity-50 transition-all duration-300"
						>
							<i class="fas fa-pencil-alt text-white text-3xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"></i>
						</div>
					</div>
					<div class="ml-4">
						<p class="text-lg font-semibold text-gray-800 dark:text-gray-300 transition-colors duration-500">
							<!-- @if (authService.getUserDisplayName()) {
							{{ authService.getUserDisplayName() }}
							} @else {  -->
							Nom d'utilisateur
							<!-- } -->
						</p>
					</div>
				</div>
				<div
					(click)="this.commonService.showModal('change-user-name')"
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"
				>
					<iconify-icon icon="mdi:pencil" class="text-[1.5rem] mr-4"></iconify-icon>
					Modification
				</div>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">
					Changer votre mot de passe
				</div>
				<div
					(click)="commonService.redirectTo('change-password')"
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"
				>
					<iconify-icon icon="mdi:password-reset" class="text-[1.5rem] mr-4"></iconify-icon>
					Changement
				</div>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">
					Se déconnecter de votre compte
				</div>
				<!-- <div					(click)="authService.signOut()"
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"> -->
				<div
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"
				>
					<iconify-icon icon="fluent:plug-disconnected-24-filled" class="text-[1.5rem] mr-4"></iconify-icon>
					Déconnexion
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="w-1/2 min-w-[400px] ml-6">
		<div class="mx-auto mt-10 p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-100 transition-colors duration-500">
			<h4 class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider transition-colors duration-500">Situations</h4>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Nom de situation multiple auto</div>
				<p-inputSwitch [(ngModel)]="autoMultipleSolutionName" (onChange)="updateUserParam('autoMultipleSolutionName', autoMultipleSolutionName)"></p-inputSwitch>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Importer des situations</div>
				<div
					(click)="fileImportInput.click()"
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"
				>
					<i class="fa-solid fa-download mr-4 h-4 w-4"></i>
					Importer
				</div>
				<input type="file" #fileImportInput style="display: none" (change)="onClickFileImport($event)" multiple />
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Exporter vos situations</div>
				<div
					(click)="onClickFileExport()"
					class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-500 cursor-pointer"
				>
					<i class="fa-solid fa-upload mr-4 h-4 w-4"></i>
					Exporter
				</div>
			</div>
		</div>
		<div class="mx-auto mt-10 p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-100 transition-colors duration-500">
			<h4 class="m-0 mb-4 font-semibold text-left text-lg uppercase text-gray-800 dark:text-gray-300 tracking-wider transition-colors duration-500">Entraînement</h4>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Affichage de la solution lors d'une erreur</div>
				<p-inputSwitch [(ngModel)]="displaySolutionOnError" (onChange)="updateUserParam('displaySolution', displaySolutionOnError)"></p-inputSwitch>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Style des cartes</div>
				<p-dropdown [(ngModel)]="cardsStyle" [options]="availableCardsStyles" optionLabel="name" (onChange)="updateUserParam('cardStyle', $event.value.code)"></p-dropdown>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider transition-colors duration-500">Couleur du tapis de jeu</div>
				<p-dropdown [options]="availablePokerTableColors" [(ngModel)]="pokerTableColor" optionLabel="name" (onChange)="updateUserParam('playmatColor', $event.value.code)" />
			</div>
		</div>
	</div> -->
</div>

<dialog id="change-user-name" class="dui-modal dui-modal-bottom sm:dui-modal-middle">
	<div class="dui-modal-box text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
		<form method="dialog">
			<button class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none">✕</button>
		</form>
		<h4 class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
			Modification du nom d'utilisateur
		</h4>
		<input
			class="my-2 w-full"
			type="text"
			placeholder="Entrez votre nouveau nom d'utilisateur"
			name="newUserName"
			id="newUserName"
			autocomplete="off"
			pInputText
			[(ngModel)]="newUserName"
			[maxlength]="16"
		/>
		<div class="flex justify-center items-center mt-5">
			<div
				class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
			>
				<!-- <div (click)="changeUserName()"
				class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
			> -->
				<iconify-icon icon="material-symbols-light:save-rounded" class="text-[1.5rem] mr-4"></iconify-icon>
				Enregistrer
			</div>
		</div>
	</div>
</dialog>

<div class="settings-container">
	<div class="setting-container">
		<h3 class="setting-container-title">Gestion des abonnements</h3>
		<div class="setting-container-subtitle">Gérez ici votre offre d'abonnement et consultez votre historique de transaction.</div>
		<div class="subscription-plans">
			<div class="plan-container">
				<div class="plan">
					<div class="plan-header">Basique</div>
					<div class="plan-price">
						€7
						<div class="price-per-month">.99/mois</div>
					</div>
					<ul class="plan-features">
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Gestion de 2 compétitions par mois
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Génération de rapport de compétition
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Dashboard des données
						</li>
					</ul>
					<div class="plan-button">Commencer</div>
				</div>

				<div class="plan popular-plan">
					<div class="plan-badge">Populaire</div>
					<div class="plan-header">Pro</div>
					<div class="plan-price">
						€14
						<div class="price-per-month">.99/mois</div>
					</div>
					<ul class="plan-features">
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Fonctionnalités de l'abonnement Basique
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Gestion de 4 compétitions par mois
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Génération de rapport personnalisé par tireur
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Conseils personnalisés pour les tireurs
						</li>
					</ul>
					<div class="plan-button popular-button">Commencer</div>
				</div>

				<div class="plan">
					<div class="plan-header">VIP</div>
					<div class="plan-price">
						€19
						<div class="price-per-month">.99/mois</div>
					</div>
					<ul class="plan-features">
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Fonctionnalités de l'abonnement Pro
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Gestion de compétitions illimitée
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Génération de QR Code de consultation du classement
						</li>
						<li class="feature">
							<i class="fas fa-check feature-icon-check"></i>
							Support dédié
						</li>
					</ul>
					<div class="plan-button">Commencer</div>
				</div>
			</div>
		</div>

		Offre actuelle : acheter, modifier, annuler Historique des transactions
		<div>
			<p-table [value]="transactions" dataKey="id" [rows]="10" [paginator]="true">
				<ng-template pTemplate="header">
					<tr>
						<th class="rounded-t-md">
							<div>
								<span class="text-prime-blue dark:text-gray-300 mr-2">Date</span>
								<p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex align-items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2">Montant</span>
								<p-columnFilter type="text" field="montant" display="menu"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex align-items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2">Offre</span>
								<p-columnFilter type="text" field="typeOffre" display="menu"></p-columnFilter>
							</div>
						</th>
						<th class="rounded-t-md">
							<div class="flex align-items-center">
								<span class="text-prime-blue dark:text-gray-300 mr-2">Statut</span>
								<p-columnFilter type="text" field="statutPaiement" display="menu"></p-columnFilter>
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-transaction>
					<tr>
						<td>{{ transaction.date }}</td>
						<td>{{ transaction.montant }}€</td>
						<td>{{ transaction.typeOffre }}</td>
						<td>{{ transaction.statutPaiement }}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Aucune transaction effectuée.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
	<div class="setting-container">
		<h3 class="setting-container-title">Nous contacter</h3>
		<div class="setting-container-subtitle">Remplissez le formulaire ci-dessous et nous vous répondrons dans les plus brefs délais.</div>
		<div class="form">
			<div class="form-row">
				<div class="form-group">
					<label>Adresse e-mail</label>
					<input type="email" pInputText [(ngModel)]="email" placeholder="Adresse e-mail" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
                    <label>Message</label>
                    <textarea rows="5" cols="30" pTextarea [autoResize]="true" placeholder="Votre message..."></textarea>
                </div>
			</div>
            <div class="flex justify-center items-center">
                <div
                    class="inline-flex h-12 items-center justify-center rounded-md bg-prime-blue text-white dark:text-gray-300 hover:bg-hover-prime-blue dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors duration-250 cursor-pointer"
                >
                    <iconify-icon icon="material-symbols-light:save-rounded" class="text-[1.5rem] mr-4"></iconify-icon>
                    Enregistrer
                </div>
            </div>
			<div class="form-social-media">
				<div class="social-item">
					<iconify-icon icon="ic:baseline-discord" class="text-[1.5rem] mr-1.5"></iconify-icon>
					<span>Discord</span>
				</div>
				<div class="social-item">
					<iconify-icon icon="icon-park-solid:doc-search" class="text-[1.5rem] mr-1"></iconify-icon>
					<span>Documentation</span>
				</div>
			</div>
		</div>
	</div>
</div>
