$background: #f9fafb;
$primary: #3B82F6;
$primary2: #0062ff;
$black1: #303030;
$black2: #868686;

h2 {
    margin-bottom: 6px;
    font-size: 39.81px;
    font-weight: 600;
    color: $primary;
}

.subtitle {
    font-size: 18.5px;
}

.settings-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setting-container{
    width: 85%;
    background: $background;
    padding: 20px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.setting-container-title{
    font-size: 31px;
    color: $primary;
    font-weight: 600;
}

.setting-container-subtitle{
    font-size: 17px;
    color: $black2;
}